.main
  .main__container
    .main__container__new
      %h2.main__container__new--text
        アカウントをお持ちでない方はこちら
      .main__container__new__link
        = link_to "新規会員登録", "#", class: "main__container__new__link--btn"

    .login
      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        .login__content
          .login__content__email
            = f.email_field :email, autofocus: true, class: "login__content__email--field"
          .login__content__password
            = f.password_field :password, autofocus: true, class: "login__content__password--field"
              - if devise_mapping.rememberable?
          = f.submit "ログイン", class: "login__content--btn"
          
          .login__content--text
            = link_to "パスワードをお忘れの方", "#", class: "login__content--text"