.mypage-side
  .mypage-side__nav
    .mypage-side__nav__list
      %ul
        %li
          = link_to user_path(current_user), class: "mypage-side__nav__list--item" do
            マイページ
            = icon('fas', 'chevron-right', class: "mypage-side__nav__list--icon")
        %li
          = link_to "#", class: "mypage-side__nav__list--item" do
            お知らせ
            = icon('fas', 'chevron-right', class: "mypage-side__nav__list--icon") 
        %li
          = link_to "#", class: "mypage-side__nav__list--item" do
            やることリスト
            = icon('fas', 'chevron-right', class: "mypage-side__nav__list--icon") 
        %li
          = link_to "#", class: "mypage-side__nav__list--item" do
            いいね！一覧
            = icon('fas', 'chevron-right', class: "mypage-side__nav__list--icon")
        %li
          = link_to "#", class: "mypage-side__nav__list--item" do
            出品する
            = icon('fas', 'chevron-right', class: "mypage-side__nav__list--icon")
        %li
          = link_to "#", class: "mypage-side__nav__list--item" do
            出品した商品-出品中
            = icon('fas', 'chevron-right', class: "mypage-side__nav__list--icon")
        %li
          = link_to "#", class: "mypage-side__nav__list--item" do
            出品した商品-取引中
            = icon('fas', 'chevron-right', class: "mypage-side__nav__list--icon")
        %li
          = link_to "#", class: "mypage-side__nav__list--item" do
            出品した商品-売却済み
            = icon('fas', 'chevron-right', class: "mypage-side__nav__list--icon")
        %li
          = link_to "#", class: "mypage-side__nav__list--item" do
            購入した商品-取引中
            = icon('fas', 'chevron-right', class: "mypage-side__nav__list--icon")
        %li
          = link_to "#", class: "mypage-side__nav__list--item" do
            購入した商品-過去の取引
            = icon('fas', 'chevron-right', class: "mypage-side__nav__list--icon")
        %li
          = link_to "#", class: "mypage-side__nav__list--item" do
            ニュース一覧
            = icon('fas', 'chevron-right', class: "mypage-side__nav__list--icon")
        %li
          = link_to "#", class: "mypage-side__nav__list--item" do
            評価一覧
            = icon('fas', 'chevron-right', class: "mypage-side__nav__list--icon")
        %li
          = link_to "#", class: "mypage-side__nav__list--item" do
            ガイド
            = icon('fas', 'chevron-right', class: "mypage-side__nav__list--icon")
        %li
          = link_to "#", class: "mypage-side__nav__list--item" do
            お問い合わせ
            = icon('fas', 'chevron-right', class: "mypage-side__nav__list--icon")
    .mypage-side__nav__head
      メルペイ
    .mypage-side__nav__list
      %ul
        %li
          = link_to "#", class: "mypage-side__nav__list--item" do
            売上・振込申請
            = icon('fas', 'chevron-right', class: "mypage-side__nav__list--icon")
        %li
          = link_to "#", class: "mypage-side__nav__list--item" do
            ポイント
            = icon('fas', 'chevron-right', class: "mypage-side__nav__list--icon")
    
    .mypage-side__nav__head
      設定
    .mypage-side__nav__list
      %ul
        %li
          = link_to edit_profile_path, class: "mypage-side__nav__list--item" do
            プロフィール
            = icon('fas', 'chevron-right', class: "mypage-side__nav__list--icon")
        %li
          - if current_user.address.present?
            = link_to edit_users_address_path, class: "mypage-side__nav__list--item" do
              発送元・お届け先住所変更
              = icon('fas', 'chevron-right', class: "mypage-side__nav__list--icon")
          - else
            = link_to new_users_address_path, class: "mypage-side__nav__list--item" do
              発送元・お届け先住所変更
              = icon('fas', 'chevron-right', class: "mypage-side__nav__list--icon")
        %li
          = link_to cards_path, class: "mypage-side__nav__list--item" do
            支払い方法
            = icon('fas', 'chevron-right', class: "mypage-side__nav__list--icon")
        %li
          = link_to "#", class: "mypage-side__nav__list--item" do
            メール/パスワード
            = icon('fas', 'chevron-right', class: "mypage-side__nav__list--icon")
        %li
          = link_to "#", class: "mypage-side__nav__list--item" do
            本人情報
            = icon('fas', 'chevron-right', class: "mypage-side__nav__list--icon")
        %li
          = link_to "#", class: "mypage-side__nav__list--item" do
            電話番号の確認
            = icon('fas', 'chevron-right', class: "mypage-side__nav__list--icon")
        %li
          = link_to edit_user_path(current_user), class: "mypage-side__nav__list--item" do
            ログアウト
            = icon('fas', 'chevron-right', class: "mypage-side__nav__list--icon")
        