.wrapper
  .container
    = render 'header'

    .main
      .main__container
        %h2.main__container__title
          会員情報入力
        .form
          = form_for "#" do |f|
            .form__content
              .form__content__nickname
                .form__content__nickname--label
                  = f.label :nickname, "ニックネーム", class: "form__content__nickname--label"
                  = f.label :require, "必須", class: "form__content__nickname--require"
                .form__content__nickname--field
                  = f.text_field :nickname, class: "form__content__nickname--field", type: "text", placeholder: "例)メルカリ太郎"
                .form__content__info
              .form__content__email
                .form__content__email--label
                  = f.label :email, "メールアドレス", class: "form__content__email--label"
                  = f.label :require, "必須", class: "form__content__email--require"
                .form__content__email--field
                  = f.email_field :email, class: "form__content__email--field", placeholder: "PC・携帯どちらでも可"
                .form__content__email__info
              .form__content__password
                .form__content__password--label
                  = f.label :password, "パスワード", class: "form__content__password--label"
                  = f.label :require, "必須", class: "form__content__password--require"
                .form__content__password--field
                  = f.password_field :password, class: "form__content__password--field", placeholder: "7文字以上の半角英数字"
                %p.form__content__password__text
                  ※ 英字と数字の両方を含めて設定してください
                .form__content__password__display
                  .form__content__password__display--checkbox
                    = f.check_box :password, class: "form__content__password__display--checkbox--content"
                  .form__content__password__display--text
                    パスワードを表示する
              .form__content__check
                %h3.form__content__title
                  本人確認
                .form__content__check__text
                  安心・安全にご利用いただくために、お客さまの本人情報の登録にご協力ください。他のお客さまに公開されることはありません。
              .form__content__name
                .form__content__name__label
                  = f.label :name, "お名前(全角)", class: "name-label"
                  = f.label :require, "必須", class: "name-require"
                .form__content__name__field
                  = f.text_field :name, class: "family-kanji", type: "text", placeholder: "例)山田"
                  = f.text_field :name, class: "first-kanji", type: "text", placeholder: "例)彩"
                  .form__content__name__family-info
                  .form__content__name__first-info
              .form__content__kana
                .form__content__kana__label
                  = f.label :kana, "お名前カナ(全角)", class: "kana-label"
                  = f.label :require, "必須", class: "kana-require"
                .form__content__kana__field
                  = f.text_field :name, class: "family-kana", type: "text", placeholder: "例)ヤマダ"
                  = f.text_field :name, class: "first-kana", type: "text", placeholder: "例)アヤ"
                  .form__content__name__family-kana-info
                  .form__content__name__first-kana-info
              .form__content__birthday
                .form__content__birthday__label
                  = f.label :birthday, "生年月日", class: "birthday-label"
                  = f.label :require, "必須", class: "birthday-require"
                .form__content__birthday__field
                  != sprintf(f.date_select(:birthday, prefix:'birthday',with_css_classes:'birthday-select', prompt:"--",use_month_numbers:true, start_year:1920, end_year:Time.now.year, date_separator:'%s'),"年","月")+"日"
                  .form__content__name__birthday-info
              .form__content__tell
                .form__content__tell__label
                  = f.label :tell, "携帯電話の番号", class: "tell-label"
                  = f.label :require, "必須", class: "tell-require"
                .form__content__tell__field
                  = f.text_field :tell, class: "tell-field", type: "tell", placeholder: "携帯電話の番号を入力"
              .form__content__info
                ※ 本人情報は正しく入力してください。会員登録後、修正するにはお時間を頂く場合があります。
            .form__proceed
              .form__proceed__text
                「次へ進む」のボタンを押すことにより、
                = link_to "利用規約", "#", class: "form__proceed__text--use"
                に同意したものとみなします

              = f.submit "次へ進む", class: "form__proceed--btn"
            .form__text
              .form__text__box
                = link_to "本人情報の登録について＞", "#", class: "form__text__box--link"
            .form__policy
              %p.form__policy__box
                .form__policy__box__text
                  This site is protected by reCAPTCHA and the Google
                  = link_to "Privacy Policy", "#", class: "form__policy__box__text--policy"
                  and
                  = link_to "Terms of Service", "#", class: "form__policy__box__text--terms"
                  apply

    = render 'footer'