.mypage
  = render "products/header"
  .mypage-main
    = render "users/mypage-side"
    .mypage-main__container
      %section.card-info
        .card-info__head
          クレジットカード情報入力
        .card-info__form
          = form_with(model: @card, local: true, class: "card-form") do |f|
            .card-form__number
              = f.label :number, "カード番号", class: "card-form__number--label"
              %span.card-form__number--require 必須
              = f.text_field :number, placeholder: "半角数字のみ", class: "card-form__number--field"
              %ul.card-list
                %li
                  = image_tag("logo/logo_visa.gif")
                %li
                  = image_tag("logo/logo_mastercard.gif")
                %li
                  = image_tag("logo/jcb-logomark-img-01.gif")
                %li
                  = image_tag("logo/amex-logomark-img-04.gif")
                %li
                  = image_tag("logo/diners-logomark-img-01.gif")
                %li
                  = image_tag("logo/discover-logomark-img-08.gif")
            .card-form__expire
              = f.label :expire, "有効期限", class: "card-form__expire--label" 
              %span.card-form__expire--require 必須
              %br
              .card-form__expire--date
                = f.date_select(:expiration_date, with_css_classes: true, order:[:month, :year, :day], use_month_numbers:true, discard_day:true, use_two_digit_numbers:true, start_year:Time.now.year-2000, end_year:Time.now.year-2000+10, date_separator: '月') + "年"
            .card-form__security
              = f.label :security_code, "セキュリティコード", class: "card-form__security--label"
              %span.card-form__security--require 必須
              = f.text_field :security_code, placeholder: "カード背面4桁もしくは3桁の番号", class: "card-form__security--field"
              .card-form__security--explain
                %span>  ?
                カード裏面の番号とは?
            .card-form__btn
              = f.submit "追加する", class: "card-form__btn--submit"
  = render "products/footer"
  = render "products/purchase-btn"        