.header
  .header__box
    .header-main
      .header-main__icon
        = link_to image_tag("logo/logo.png", alt: "フリマのロゴ", class: "header-main__icon--logo"), root_path
      .header-main__search
        = form_with url:"#", local: true do |f|
          .header-main__search__input
            = f.text_field :key, placeholder: "キーワードから探す", class: "header-main__search__input--key"
          .header-main__search__submit
            %label
              = image_tag("icon/icon-search 1.png", class: "header-main__search__submit--icon") 
              = f.submit class: "header-main__search__submit--btn"        
    .header-nav  
      .header-nav__left
        .header-nav__left__category
          = link_to "カテゴリー"
        .header-nav__left__category
          = link_to "ブランド"
      .header-nav__right
        .header-nav__right__user
          = link_to "ログイン"
        .header-nav__right__user
          = link_to "新規会員登録"