
.form
  -#= form_with (model: @image, local: true) do |f|
  = form_for "#" do |f|
    = f.label :image, "商品画像"
    = f.label :require, "必須"
    = f.file_field :image, accept: "image/png, image/jpeg"
.form
  -#= form_with (model: @products, local: ture) do |f|
  = form_for "#" do |f|
    = f.label :name, "商品名"
    = f.label :require, "必須"
    %br
    = f.text_field :name, placeholder: '40文字まで'
    %br
    = f.label :description, "商品の説明"
    = f.label :require, "必須"
    %br
    = f.text_area :description, placeholder: "商品の説明（必須1000文字以内）&#13;&#10;（色、素材、重さ、定価、注意点など）&#13;&#10;&#13;&#10;例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。".html_safe 
    %p#counter 0/1000
    %br
    %p 商品の詳細
    = f.label :category_id, "カテゴリー"
    = f.label :require, "必須"
    %br
    = f.text_field :category_id, placeholder: "選択してください"
    %br
    = f.label :brand_id, "ブランド"
    = f.label "任意"
    %br
    = f.text_field :brand_id, placeholder: "例）シャネル"
    %br
    = f.label :product_condition, "商品の状態"
    = f.text_field :product_condition, placeholder: "選択してください"
    %br
    %p 配送について
    = link_to "#" do
      = icon('far', 'question-circle')
    %br
    = f.label :shiping_payer_method_id, "配送料の負担"
    = f.label :require, "必須"
    = f.text_field :shiping_payer_method_id, placeholder: "選択してください"
    %br
    = f.label :prefecture_id, "発送元の地域"
    = f.label :require, "必須"
    = f.text_field :prefecture_id, placeholder: "選択してください"
    %br
    = f.label :days_of_shipping, "発送までの日数"
    = f.label :require, "必須"
    = f.text_field :days_of_shipping, placeholder: "選択してください"
    %br
    %p 価格（¥300〜9,999,999)
    = link_to "#" do
      = icon('far', 'question-circle')
    %br
    = f.label :price, "販売価格"
    ¥
    = f.number_field :price, placeholder: "0"
    
    .form__fee
      .form__fee--left
        販売手数料
      .form__fee--right
        ーー
    .form__profit
      .form__profit--left
        販売利益
      .form__profit--right
        ーー
    
    = f.submit "出品する"
    = link_to "もどる", root_path

    .form__attention
      禁止されている行為および出品物を必ずご確認ください。偽ブランド品や盗品物などの販売は犯罪であり、法律により処罰される可能性があります。また、出品をもちまして加盟店規約に同意したことになります。

