.wrapper
  = render "header"
  = render "detail-bar"

  .detail-main
    .detail-main__show
      .detail-main__show__content
        .detail-main__show__content__top
          .detail-box
            %h2.detail-box--title
              = @product.name
            .detail-box__body
              .detail-box__body__content
                .detail-box__body__content__list
                  = image_tag @product.images[0].image.url, alt: "画像", class: "detail-box__body__content__list--image" 
                  .detail-small
                    - @product.images.each do |i|
                      .detail-small__list
                        = image_tag i.image.url, alt: "画像", class: "detail-small__list--image"
                      .detail-small__list
                        = image_tag("pict/bg-mainVisual-pict_pc.jpg", alt: "画像", class: "detail-small__list--image")                   
                      .detail-small__list
                        = image_tag("pict/bg-topMiddleDl-pict.jpg", alt: "画像", class: "detail-small__list--image")
                        
            .detail-box__price
              %span.detail-box__price--text
                ¥#{@product.price}
              .detail-box__price__box
                %span
                  (税込み)
                %span
                  送料込み
            .detail-box--name
              = @product.name
            .detail-box__table
              %table.detail-box__table__item
                %tr
                  %th.item-left
                    出品者
                  %td.item-right
                    = @product.seller.nickname
              %table.detail-box__table__item
                %tr
                  %th.item-left
                    カテゴリー
                  %td.item-right
                    .item-right__box
                      = link_to @product.category.root.name, category_path(@product.category.root), class: "item-right--box--link"
                    .item-right__box
                      = link_to @product.category.parent.name, category_path(@product.category.parent), class: "item-right--box--link"
                    .item-right__box
                      = link_to @product.category.name, category_path(@product.category), class: "item-right--box--link"
              %table.detail-box__table__item
                %tr
                  %th.item-left
                    ブランド
                  %td.item-right
                    = @product.brand
              %table.detail-box__table__item
                %tr
                  %th.item-left
                    商品のサイズ
                  %td.item-right
                    = @product.size.name
              %table.detail-box__table__item
                %tr
                  %th.item-left
                    商品の状態
                  %td.item-right
                    = @product.product_condition_i18n
              %table.detail-box__table__item
                %tr
                  %th.item-left
                    配送料の負担
                  %td.item-right
                    = @product.shipping_payer_method.root.payer_or_method
              %table.detail-box__table__item
                %tr
                  %th.item-left
                    発送元の地域
                  %td.item-right
                    = link_to @product.prefecture.name, "#", class: "item-right--box"
              %table.detail-box__table__item
                %tr
                  %th.item-left
                    発送日の目安
                  %td.item-right
                    = @product.days_of_shipping_i18n
              - if user_signed_in?    
                - if @product.seller_id == current_user.id
                  .detail-box__table--btn
                    = link_to "商品編集画面に進む", edit_product_path(@product)
                - else
                  .detail-box__table--btn
                    = link_to "購入画面に進む", buy_confirmation_product_path(@product)
              - else   
                .detail-box__table--btn
                  = link_to "購入画面に進む", buy_confirmation_product_path(@product)   
            .detail-box__option
              .detail-box__option__item
                .detail-box__option__item__icon
                  = icon('fas', 'star', class: "detail-box__option__item__icon--star")
                  お気に入り 0
              .detail-box__option__content
                = link_to "#" do
                  .detail-box__option__content__btn
                    = icon('fas', 'flag')
                    不適切な商品の通報
          .detail-comment
            .detail-comment__box
              = form_for "#" do |f|
                = f.text_area :content, class: "detail-comment__box--field"
                .detail-comment__box--text
                  相手のことを考え丁寧なコメントを心がけましょう。
                  %br
                  不快な言葉遣いなどは利用制限や退会処分となることがあります。
                %button{type: "submit", class: "detail-comment__box__btn"}
                  = icon('fas', 'comment')
                  コメントする

        .detail-main__show__content__links
          .before-link
            = icon('fas', 'angle-left', class: "before-link--icon")
            = link_to "前の商品", @product.previous, class: "before-link--text"
          .after-link
            = link_to "後ろの商品", @product.next, class: "after-link--text"
            = icon('fas', 'angle-right', class: "after-link--icon")

        .detail-main__show__content__items
          = link_to "#{@product.category.root.name}をもっと見る", "#", class: "detail-main__show__content__items--transition"

  = render "footer"
